*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: black;
    color: white;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    background-color: #000000;
    background-image: url("../img/fondoIMP.png");
    background-size: cover;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text] {
    border: 2px solid rgba(151, 82, 82, 0.642);
    border-radius: 4px;
}
input[type=password] {
    border: 2px solid rgba(151, 82, 82, 0.642);
    border-radius: 4px;
}
.btn {
    background-color: #00000074;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border: 1px solid #fafafa;
  }
@media screen and (max-width: 850px){
    main{
        margin-top: 50px;
    }
    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .caja__trasera div{
        margin: 0px;
        position: absolute;

    }
    /* formulario */
    .contenedorLogin{
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .contenedorLogin form{
        position: relative;

    }
}




