*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%234d4b51' fill-opacity='0.43'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
a{
    color: white;
    text-decoration: none;
}
ul{
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/*Navegacion*/

.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand {
    width: 100px;
    margin-top: 40px;
    margin-left: 20px;
}

/* NAV LEFT */ 
.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 35px;
    padding-bottom: 20px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid #ffff;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}
.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    display: none;
}
.HeaderLista{
    text-align: center;
}
.subTitleHeader{
    text-align: center;
}
/*Tabla*/
table{
    border-collapse: collapse;
    font-size: 20px;
    width: 100%;
    height: 200px;
    margin-bottom: 200px;
}
table th{
    text-align: left;
    padding: 10px;
    background: #375062;
    color: #ffff;
}
table tr:nth-child(odd){
    background-color: rgba(51, 50, 50, 0.518);
}
table td{
    padding: 10px;
}
.link_edit{
    color: rgb(64, 170, 145);
}
.link_delete{
    color: rgb(223, 77, 77);
}   

/*FOOTER LINKS*/

.footer-links{
    background: #2f3640;
    color: white;
    font-size: 12px;
    padding: 35px 0;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul{
    margin: 0 auto;
}

.footer-container ul li{
    line-height: 2.8;
}
.footer{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

@media (max-width: 700px){
    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #0000009e;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }
    .menu-btn{
        display: block;
    }
    .nav-main ul.nav-menu.show{
        transform: translateX(-20px);
    } 
    .nav-main ul.nav-menu li{
        padding: 20px;
    }
    .tareas-cards{
        grid-template-columns: repeat(2,1fr);
    }
    .footer-links .footer-container{
        grid-template-columns: repeat(2, 1fr);
    }
}